body{
    text-align: center;
    
}
input{

    width:350px;
    height:40px;
    margin-top:5px;
    margin-bottom:5px;
    border:2px solid blue;
    border-radius: 10px;
    font-size:large;
}
button{
    padding:15px;
    margin:15px;
    width:125px;
    border-radius:20px;
    background-color:white;
    color:black;
    font-size:large;
}
 #Output{
font-size:x-large;
font-weight:700;
}
h1,h2{
    font-weight:bold;
    font-family: cursive;
}